[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2 = "==2.8.1"
pytest = "*"
pytest-flask = "*"
pytest-flask-sqlalchemy = "*"
factory-boy = "*"
pyparsing = "==2.4.0"
requests = "*"

[requires]
python_version = "3.7"
